* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 2%;
}
@media screen and (min-width: 800px) {
  main {
    padding-left: 0;
    padding-right: 0;
  }
}

.review-card {
  text-align: left;
  padding: 1em;
  margin-top: 2em;
  border: 2px solid black;
  border-radius: 1em;
}

.review-card:first-child {
  margin-top: 0;
}

.review-card .review-title {
  font-weight: bold;
  margin-bottom: 1em;
}

.review-card .review-image {
  max-width: 100%;
}

@media screen and (min-width: 800px) {
  .review-card .review-image {
    max-width: 35%;
    float: left;
    margin-right: 1em;
  }
}

.review-content .review-body {
  font-size: 20px;
}

.comment-listing {
  text-align: left;
  padding-bottom: 1em;
}

.comment-listing .comment-author {
  font-weight: bold;
}
.comment-listing .comment-body {
  margin-top: 0.5em;
}

@media (max-width: 767px) {
  .comment-listing .comment-body {
    text-align: center;
  }
}
